In [ ]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

# Oscars Dataframe Work

In [2]:
oscars_df = pd.read_csv("../Data/BigML_Dataset_5f50a62c2fb31c516d000176.csv")
oscars_df

,year,movie,movie_id,certificate,duration,genre,rate,metascore,synopsis,votes,...,New_York_Film_Critics_Circle_nominated,New_York_Film_Critics_Circle_nominated_categories,Los_Angeles_Film_Critics_Association_won,Los_Angeles_Film_Critics_Association_won_categories,Los_Angeles_Film_Critics_Association_nominated,Los_Angeles_Film_Critics_Association_nominated_categories,release_date.year,release_date.month,release_date.day-of-month,release_date.day-of-week
0,2001,Kate & Leopold,tt0035423,PG-13,118,Comedy|Fantasy|Romance,6.4,44.0,An English Duke from 1876 is inadvertedly drag...,66660,...,0,NaN,0,NaN,0,NaN,2001.0,12.0,25.0,2.0
1,2000,Chicken Run,tt0120630,G,84,Animation|Adventure|Comedy,7.0,88.0,When a cockerel apparently flies into a chicke...,144475,...,1,Best Animated Film,1,Best Animation,1,Best Animation,2000.0,6.0,23.0,5.0
2,2005,Fantastic Four,tt0120667,PG-13,106,Action|Adventure|Family,5.7,40.0,A group of astronauts gain superpowers after a...,273203,...,0,NaN,0,NaN,0,NaN,2005.0,7.0,8.0,5.0
3,2002,Frida,tt0120679,R,123,Biography|Drama|Romance,7.4,61.0,"A biography of artist Frida Kahlo, who channel...",63852,...,0,NaN,0,NaN,0,NaN,2002.0,11.0,22.0,5.0
4,2001,The Lord of the Rings: The Fellowship of the Ring,tt0120737,PG-13,178,Adventure|Drama|Fantasy,8.8,92.0,A meek Hobbit from the Shire and eight compani...,1286275,...,0,NaN,1,Best Music,2,Best Music|Best Production Design,2001.0,12.0,19.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1178,2017,Call Me by Your Name,tt5726616,R,132,Drama|Romance,8.3,93.0,"In Northern Italy in 1983, seventeen year-old ...",38170,...,1,Best Actor,3,Best Actor|Best Director|Best Picture,3,Best Actor|Best Director|Best Picture,NaN,NaN,NaN,NaN
1179,2017,Phantom Thread,tt5776858,R,130,Drama|Romance,8.4,90.0,"Set in 1950's London, Reynolds Woodcock is a r...",7380,...,1,Best Screenplay,1,Best Music,1,Best Music,NaN,NaN,NaN,NaN
1180,2017,Victoria & Abdul,tt5816682,PG-13,111,Biography|Drama|History,6.8,58.0,Queen Victoria strikes up an unlikely friendsh...,12888,...,0,NaN,0,NaN,0,NaN,2017.0,10.0,6.0,5.0
1181,2017,"Roman J. Israel, Esq.",tt6000478,PG-13,122,Crime|Drama,6.3,58.0,"Roman J. Israel, Esq., a driven, idealistic de...",3205,...,0,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1182,2017,The Post,tt6294822,PG-13,116,Biography|Drama|History,7.4,83.0,A cover-up that spanned four U.S. Presidents p...,21292,...,0,NaN,0,NaN,0,NaN,2018.0,1.0,12.0,5.0

In [3]:
for col in oscars_df.columns: 
    print(col)

year
movie
movie_id
certificate
duration
genre
rate
metascore
synopsis
votes
gross
release_date
user_reviews
critic_reviews
popularity
awards_wins
awards_nominations
Oscar_Best_Picture_won
Oscar_Best_Picture_nominated
Oscar_Best_Director_won
Oscar_Best_Director_nominated
Oscar_Best_Actor_won
Oscar_Best_Actor_nominated
Oscar_Best_Actress_won
Oscar_Best_Actress_nominated
Oscar_Best_Supporting_Actor_won
Oscar_Best_Supporting_Actor_nominated
Oscar_Best_Supporting_Actress_won
Oscar_Best_Supporting_Actress_nominated
Oscar_Best_AdaScreen_won
Oscar_Best_AdaScreen_nominated
Oscar_Best_OriScreen_won
Oscar_Best_OriScreen_nominated
Oscar_nominated
Oscar_nominated_categories
Golden_Globes_won
Golden_Globes_won_categories
Golden_Globes_nominated
Golden_Globes_nominated_categories
BAFTA_won
BAFTA_won_categories
BAFTA_nominated
BAFTA_nominated_categories
Screen_Actors_Guild_won
Screen_Actors_Guild_won_categories
Screen_Actors_Guild_nominated
Screen_Actors_Guild_nominated_categories
Critics_Choice_won
Critics_Choice_won_categories
Critics_Choice_nominated
Critics_Choice_nominated_categories
Directors_Guild_won
Directors_Guild_won_categories
Directors_Guild_nominated
Directors_Guild_nominated_categories
Producers_Guild_won
Producers_Guild_won_categories
Producers_Guild_nominated
Producers_Guild_nominated_categories
Art_Directors_Guild_won
Art_Directors_Guild_won_categories
Art_Directors_Guild_nominated
Art_Directors_Guild_nominated_categories
Writers_Guild_won
Writers_Guild_won_categories
Writers_Guild_nominated
Writers_Guild_nominated_categories
Costume_Designers_Guild_won
Costume_Designers_Guild_won_categories
Costume_Designers_Guild_nominated
Costume_Designers_Guild_nominated_categories
Online_Film_Television_Association_won
Online_Film_Television_Association_won_categories
Online_Film_Television_Association_nominated
Online_Film_Television_Association_nominated_categories
Online_Film_Critics_Society_won
Online_Film_Critics_Society_won_categories
Online_Film_Critics_Society_nominated
Online_Film_Critics_Society_nominated_categories
People_Choice_won
People_Choice_won_categories
People_Choice_nominated
People_Choice_nominated_categories
London_Critics_Circle_Film_won
London_Critics_Circle_Film_won_categories
London_Critics_Circle_Film_nominated
London_Critics_Circle_Film_nominated_categories
American_Cinema_Editors_won
American_Cinema_Editors_won_categories
American_Cinema_Editors_nominated
American_Cinema_Editors_nominated_categories
Hollywood_Film_won
Hollywood_Film_won_categories
Hollywood_Film_nominated
Hollywood_Film_nominated_categories
Austin_Film_Critics_Association_won
Austin_Film_Critics_Association_won_categories
Austin_Film_Critics_Association_nominated
Austin_Film_Critics_Association_nominated_categories
Denver_Film_Critics_Society_won
Denver_Film_Critics_Society_won_categories
Denver_Film_Critics_Society_nominated
Denver_Film_Critics_Society_nominated_categories
Boston_Society_of_Film_Critics_won
Boston_Society_of_Film_Critics_won_categories
Boston_Society_of_Film_Critics_nominated
Boston_Society_of_Film_Critics_nominated_categories
New_York_Film_Critics_Circle_won
New_York_Film_Critics_Circle_won_categories
New_York_Film_Critics_Circle_nominated
New_York_Film_Critics_Circle_nominated_categories
Los_Angeles_Film_Critics_Association_won
Los_Angeles_Film_Critics_Association_won_categories
Los_Angeles_Film_Critics_Association_nominated
Los_Angeles_Film_Critics_Association_nominated_categories
release_date.year
release_date.month
release_date.day-of-month
release_date.day-of-week

In [4]:
copied_oscars_df = oscars_df.drop(oscars_df.filter(regex='nominated').columns, axis=1)
copied_oscars_df

,year,movie,movie_id,certificate,duration,genre,rate,metascore,synopsis,votes,...,Boston_Society_of_Film_Critics_won,Boston_Society_of_Film_Critics_won_categories,New_York_Film_Critics_Circle_won,New_York_Film_Critics_Circle_won_categories,Los_Angeles_Film_Critics_Association_won,Los_Angeles_Film_Critics_Association_won_categories,release_date.year,release_date.month,release_date.day-of-month,release_date.day-of-week
0,2001,Kate & Leopold,tt0035423,PG-13,118,Comedy|Fantasy|Romance,6.4,44.0,An English Duke from 1876 is inadvertedly drag...,66660,...,0,NaN,0,NaN,0,NaN,2001.0,12.0,25.0,2.0
1,2000,Chicken Run,tt0120630,G,84,Animation|Adventure|Comedy,7.0,88.0,When a cockerel apparently flies into a chicke...,144475,...,0,NaN,1,Best Animated Film,1,Best Animation,2000.0,6.0,23.0,5.0
2,2005,Fantastic Four,tt0120667,PG-13,106,Action|Adventure|Family,5.7,40.0,A group of astronauts gain superpowers after a...,273203,...,0,NaN,0,NaN,0,NaN,2005.0,7.0,8.0,5.0
3,2002,Frida,tt0120679,R,123,Biography|Drama|Romance,7.4,61.0,"A biography of artist Frida Kahlo, who channel...",63852,...,0,NaN,0,NaN,0,NaN,2002.0,11.0,22.0,5.0
4,2001,The Lord of the Rings: The Fellowship of the Ring,tt0120737,PG-13,178,Adventure|Drama|Fantasy,8.8,92.0,A meek Hobbit from the Shire and eight compani...,1286275,...,0,NaN,0,NaN,1,Best Music,2001.0,12.0,19.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1178,2017,Call Me by Your Name,tt5726616,R,132,Drama|Romance,8.3,93.0,"In Northern Italy in 1983, seventeen year-old ...",38170,...,0,NaN,1,Best Actor,3,Best Actor|Best Director|Best Picture,NaN,NaN,NaN,NaN
1179,2017,Phantom Thread,tt5776858,R,130,Drama|Romance,8.4,90.0,"Set in 1950's London, Reynolds Woodcock is a r...",7380,...,4,Best Film|Best Director|Best Original Score|Be...,1,Best Screenplay,1,Best Music,NaN,NaN,NaN,NaN
1180,2017,Victoria & Abdul,tt5816682,PG-13,111,Biography|Drama|History,6.8,58.0,Queen Victoria strikes up an unlikely friendsh...,12888,...,0,NaN,0,NaN,0,NaN,2017.0,10.0,6.0,5.0
1181,2017,"Roman J. Israel, Esq.",tt6000478,PG-13,122,Crime|Drama,6.3,58.0,"Roman J. Israel, Esq., a driven, idealistic de...",3205,...,0,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1182,2017,The Post,tt6294822,PG-13,116,Biography|Drama|History,7.4,83.0,A cover-up that spanned four U.S. Presidents p...,21292,...,0,NaN,0,NaN,0,NaN,2018.0,1.0,12.0,5.0

In [5]:
dropped_oscars=copied_oscars_df.drop(['movie_id', 'release_date.day-of-month', 'release_date.day-of-week', 'release_date.year'], axis=1)
dropped_oscars

,year,movie,certificate,duration,genre,rate,metascore,synopsis,votes,gross,...,Austin_Film_Critics_Association_won_categories,Denver_Film_Critics_Society_won,Denver_Film_Critics_Society_won_categories,Boston_Society_of_Film_Critics_won,Boston_Society_of_Film_Critics_won_categories,New_York_Film_Critics_Circle_won,New_York_Film_Critics_Circle_won_categories,Los_Angeles_Film_Critics_Association_won,Los_Angeles_Film_Critics_Association_won_categories,release_date.month
0,2001,Kate & Leopold,PG-13,118,Comedy|Fantasy|Romance,6.4,44.0,An English Duke from 1876 is inadvertedly drag...,66660,47100000.0,...,NaN,0,NaN,0,NaN,0,NaN,0,NaN,12.0
1,2000,Chicken Run,G,84,Animation|Adventure|Comedy,7.0,88.0,When a cockerel apparently flies into a chicke...,144475,106790000.0,...,NaN,0,NaN,0,NaN,1,Best Animated Film,1,Best Animation,6.0
2,2005,Fantastic Four,PG-13,106,Action|Adventure|Family,5.7,40.0,A group of astronauts gain superpowers after a...,273203,154700000.0,...,NaN,0,NaN,0,NaN,0,NaN,0,NaN,7.0
3,2002,Frida,R,123,Biography|Drama|Romance,7.4,61.0,"A biography of artist Frida Kahlo, who channel...",63852,25780000.0,...,NaN,0,NaN,0,NaN,0,NaN,0,NaN,11.0
4,2001,The Lord of the Rings: The Fellowship of the Ring,PG-13,178,Adventure|Drama|Fantasy,8.8,92.0,A meek Hobbit from the Shire and eight compani...,1286275,313840000.0,...,NaN,0,NaN,0,NaN,0,NaN,1,Best Music,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1178,2017,Call Me by Your Name,R,132,Drama|Romance,8.3,93.0,"In Northern Italy in 1983, seventeen year-old ...",38170,11300000.0,...,Best Actor|Best Adapted Screenplay|Breakthroug...,1,Best Adapted Screenplay,0,NaN,1,Best Actor,3,Best Actor|Best Director|Best Picture,NaN
1179,2017,Phantom Thread,R,130,Drama|Romance,8.4,90.0,"Set in 1950's London, Reynolds Woodcock is a r...",7380,10710000.0,...,NaN,0,NaN,4,Best Film|Best Director|Best Original Score|Be...,1,Best Screenplay,1,Best Music,NaN
1180,2017,Victoria & Abdul,PG-13,111,Biography|Drama|History,6.8,58.0,Queen Victoria strikes up an unlikely friendsh...,12888,22250000.0,...,NaN,0,NaN,0,NaN,0,NaN,0,NaN,10.0
1181,2017,"Roman J. Israel, Esq.",PG-13,122,Crime|Drama,6.3,58.0,"Roman J. Israel, Esq., a driven, idealistic de...",3205,11940000.0,...,NaN,0,NaN,0,NaN,0,NaN,0,NaN,NaN
1182,2017,The Post,PG-13,116,Biography|Drama|History,7.4,83.0,A cover-up that spanned four U.S. Presidents p...,21292,58790000.0,...,NaN,0,NaN,0,NaN,0,NaN,0,NaN,1.0

In [6]:
dropped_oscars["gross"].dtype

dtype('float64')

In [7]:
no_nans_oscars=dropped_oscars.replace(np.nan, 0)

In [45]:
cols = ['gross', 'release_date.month', 'metascore', 'user_reviews', 'critic_reviews']
no_nans_oscars[cols] = no_nans_oscars[cols].applymap(np.int64)
no_nans_oscars.sample(5)

,year,movie,certificate,duration,genre,rate,metascore,synopsis,votes,gross,...,Denver_Film_Critics_Society_won_categories,Boston_Society_of_Film_Critics_won,Boston_Society_of_Film_Critics_won_categories,New_York_Film_Critics_Circle_won,New_York_Film_Critics_Circle_won_categories,Los_Angeles_Film_Critics_Association_won,Los_Angeles_Film_Critics_Association_won_categories,release_date.month,cartoon,number_of_genres
339,2005,"The Chronicles of Narnia: The Lion, the Witch ...",PG,143,Adventure|Family|Fantasy,6.9,75,Four kids travel through a wardrobe to the lan...,297403,291710000,...,0,0,0,0,0,0,0,12,False,3
780,2011,Mission: Impossible - Ghost Protocol,PG-13,133,Action|Adventure|Thriller,7.4,73,The IMF is shut down when it's implicated in t...,375559,209360000,...,0,0,0,0,0,0,0,12,False,3
376,2006,Casino Royale,PG-13,144,Action|Adventure|Thriller,8.0,80,"Armed with a licence to kill, Secret Agent Jam...",485719,167010000,...,0,0,0,0,0,0,0,11,False,3
18,2000,American Psycho,R,102,Crime|Drama,7.6,64,A wealthy New York investment banking executiv...,371133,15050000,...,0,0,0,0,0,0,0,4,False,2
969,2012,End of Watch,R,109,Crime|Drama|Thriller,7.7,68,"Shot documentary-style, this film follows the ...",187721,40980000,...,0,0,0,0,0,0,0,9,False,3

In [46]:
how_many_genres = []
cartoon= []

for index, row in no_nans_oscars.iterrows():
    if 'Animation' in row['genre']:
        cartoon.append(True)
    else:
        cartoon.append(False)
        
    number_of_genres = len(row['genre'].split("|"))
    how_many_genres.append(number_of_genres)

no_nans_oscars['cartoon'] = cartoon
no_nans_oscars['number_of_genres'] = how_many_genres
no_nans_oscars.sample(5)

,year,movie,certificate,duration,genre,rate,metascore,synopsis,votes,gross,...,Denver_Film_Critics_Society_won_categories,Boston_Society_of_Film_Critics_won,Boston_Society_of_Film_Critics_won_categories,New_York_Film_Critics_Circle_won,New_York_Film_Critics_Circle_won_categories,Los_Angeles_Film_Critics_Association_won,Los_Angeles_Film_Critics_Association_won_categories,release_date.month,cartoon,number_of_genres
970,2012,Resident Evil: Retribution,R,96,Action|Horror|Sci-Fi,5.4,39,Alice fights alongside a resistance movement t...,108238,42350000,...,0,0,0,0,0,0,0,9,False,3
692,2008,The Sisterhood of the Traveling Pants 2,PG-13,119,Comedy|Drama|Family,6.2,63,Carmen Lowell is working on the backstage of a...,22953,44090000,...,0,0,0,0,0,0,0,8,False,3
968,2013,Percy Jackson: Sea of Monsters,PG,106,Adventure|Family|Fantasy,5.9,39,"In order to restore their dying safe haven, th...",89490,68560000,...,0,0,0,0,0,0,0,8,False,3
575,2009,Avatar,PG-13,162,Action|Adventure|Fantasy,7.9,83,A paraplegic marine dispatched to the moon Pan...,914812,760510000,...,0,0,0,0,0,0,0,12,False,3
514,2006,Grandma's Boy,R,94,Comedy,7.0,33,A 35 year old video game tester has to move in...,68919,6090000,...,0,0,0,0,0,0,0,1,False,1

In [47]:
renamed_oscars= no_nans_oscars.rename(columns={'movie':'movie_title'})

In [48]:
oscars_df_final=renamed_oscars[["year", "movie_title", "certificate", "duration", "genre", "rate", "metascore", "votes", "gross", "user_reviews", "critic_reviews", "cartoon", "number_of_genres"]].copy(
    ).reset_index(drop=True)
oscars_df_final.head()

,year,movie_title,certificate,duration,genre,rate,metascore,votes,gross,user_reviews,critic_reviews,cartoon,number_of_genres
0,2001,Kate & Leopold,PG-13,118,Comedy|Fantasy|Romance,6.4,44,66660,47100000,318,125,False,3
1,2000,Chicken Run,G,84,Animation|Adventure|Comedy,7.0,88,144475,106790000,361,186,True,3
2,2005,Fantastic Four,PG-13,106,Action|Adventure|Family,5.7,40,273203,154700000,1008,278,False,3
3,2002,Frida,R,123,Biography|Drama|Romance,7.4,61,63852,25780000,272,126,False,3
4,2001,The Lord of the Rings: The Fellowship of the Ring,PG-13,178,Adventure|Drama|Fantasy,8.8,92,1286275,313840000,5078,296,False,3

In [51]:
oscars_clean_df=oscars_df_final.drop_duplicates(['movie_title'] , keep ='last') 
oscars_clean_df.shape

(1182, 13)

In [82]:
oscars_clean_df.to_csv("../Output/oscars_clean_df.csv", index=False)

In [55]:
nominations_df=renamed_oscars[["year", "movie_title", "awards_wins", "awards_nominations", "Oscar_Best_Picture_won","Oscar_Best_Director_won","Oscar_Best_Actor_won","Oscar_Best_Actress_won","Oscar_Best_Supporting_Actor_won","Oscar_Best_Supporting_Actress_won","Oscar_Best_AdaScreen_won","Oscar_Best_OriScreen_won"]].copy(
    ).reset_index(drop=True)
nominations_df.head()

,year,movie_title,awards_wins,awards_nominations,Oscar_Best_Picture_won,Oscar_Best_Director_won,Oscar_Best_Actor_won,Oscar_Best_Actress_won,Oscar_Best_Supporting_Actor_won,Oscar_Best_Supporting_Actress_won,Oscar_Best_AdaScreen_won,Oscar_Best_OriScreen_won
0,2001,Kate & Leopold,1,4,No,No,No,No,No,No,No,No
1,2000,Chicken Run,5,11,No,No,No,No,No,No,No,No
2,2005,Fantastic Four,0,0,No,No,No,No,No,No,No,No
3,2002,Frida,2,12,No,No,No,No,No,No,No,No
4,2001,The Lord of the Rings: The Fellowship of the Ring,26,67,No,No,No,No,No,No,No,No

In [60]:
nominations_df.columns = nominations_df.columns.str.lower()

In [68]:
unique_oscars=nominations_df.drop_duplicates(['movie_title'] , keep ='last')

In [69]:
oscar_wins_df=unique_oscars.replace(["Yes", "No"], [True, False])
oscar_wins_df.head()

,year,movie_title,awards_wins,awards_nominations,oscar_best_picture_won,oscar_best_director_won,oscar_best_actor_won,oscar_best_actress_won,oscar_best_supporting_actor_won,oscar_best_supporting_actress_won,oscar_best_adascreen_won,oscar_best_oriscreen_won
0,2001,Kate & Leopold,1,4,False,False,False,False,False,False,False,False
1,2000,Chicken Run,5,11,False,False,False,False,False,False,False,False
2,2005,Fantastic Four,0,0,False,False,False,False,False,False,False,False
3,2002,Frida,2,12,False,False,False,False,False,False,False,False
4,2001,The Lord of the Rings: The Fellowship of the Ring,26,67,False,False,False,False,False,False,False,False

In [83]:
oscar_wins_df.to_csv("../Output/oscar_wins_df.csv", index=False)

# Wiki Dataframe Work

In [17]:
wiki_df = pd.read_csv("../Data/wiki_movie_plots_deduped.csv")
wiki_df

,Release Year,Title,Origin/Ethnicity,Director,Cast,Genre,Wiki Page,Plot,Unnamed: 8
0,1901,Kansas Saloon Smashers,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Kansas_Saloon_Sm...,"A bartender is working at a saloon, serving dr...",NaN
1,1901,Love by the Light of the Moon,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Love_by_the_Ligh...,"The moon, painted with a smiling face hangs ov...",NaN
2,1901,The Martyred Presidents,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/The_Martyred_Pre...,"The film, just over a minute long, is composed...",NaN
3,1901,"Terrible Teddy, the Grizzly King",American,Unknown,NaN,unknown,"https://en.wikipedia.org/wiki/Terrible_Teddy,_...",Lasting just 61 seconds and consisting of two ...,NaN
4,1902,Jack and the Beanstalk,American,"George S. Fleming, Edwin S. Porter",NaN,unknown,https://en.wikipedia.org/wiki/Jack_and_the_Bea...,The earliest known adaptation of the classic f...,NaN
...,...,...,...,...,...,...,...,...,...
34887,2014,The Water Diviner,Turkish,Director: Russell Crowe,"Director: Russell Crowe\nCast: Russell Crowe, ...",unknown,https://en.wikipedia.org/wiki/The_Water_Diviner,"The film begins in 1919, just after World War ...",NaN
34888,2017,Çalgı Çengi İkimiz,Turkish,Selçuk Aydemir,"Ahmet Kural, Murat Cemcir",comedy,https://en.wikipedia.org/wiki/%C3%87alg%C4%B1_...,"Two musicians, Salih and Gürkan, described the...",NaN
34889,2017,Olanlar Oldu,Turkish,Hakan Algül,"Ata Demirer, Tuvana Türkay, Ülkü Duru",comedy,https://en.wikipedia.org/wiki/Olanlar_Oldu,"Zafer, a sailor living with his mother Döndü i...",NaN
34890,2017,Non-Transferable,Turkish,Brendan Bradley,"YouTubers Shanna Malcolm, Shira Lazar, Sara Fl...",romantic comedy,https://en.wikipedia.org/wiki/Non-Transferable...,The film centres around a young woman named Am...,NaN
34891,2017,İstanbul Kırmızısı,Turkish,Ferzan Özpetek,"Halit Ergenç, Tuba Büyüküstün, Mehmet Günsür, ...",romantic,https://en.wikipedia.org/wiki/%C4%B0stanbul_K%...,The writer Orhan Şahin returns to İstanbul aft...,NaN

In [18]:
filtered_wiki_df = wiki_df.loc[(wiki_df["Origin/Ethnicity"]=="American")]
filtered_wiki_df

,Release Year,Title,Origin/Ethnicity,Director,Cast,Genre,Wiki Page,Plot,Unnamed: 8
0,1901,Kansas Saloon Smashers,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Kansas_Saloon_Sm...,"A bartender is working at a saloon, serving dr...",NaN
1,1901,Love by the Light of the Moon,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Love_by_the_Ligh...,"The moon, painted with a smiling face hangs ov...",NaN
2,1901,The Martyred Presidents,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/The_Martyred_Pre...,"The film, just over a minute long, is composed...",NaN
3,1901,"Terrible Teddy, the Grizzly King",American,Unknown,NaN,unknown,"https://en.wikipedia.org/wiki/Terrible_Teddy,_...",Lasting just 61 seconds and consisting of two ...,NaN
4,1902,Jack and the Beanstalk,American,"George S. Fleming, Edwin S. Porter",NaN,unknown,https://en.wikipedia.org/wiki/Jack_and_the_Bea...,The earliest known adaptation of the classic f...,NaN
...,...,...,...,...,...,...,...,...,...
17372,2017,Crooked House,American,Gilles Paquet-Brenner,Gilles Paquet-Brenner (director/screenplay); T...,"crime, drama, mystery",https://en.wikipedia.org/wiki/Crooked_House_(f...,The granddaughter of late business tycoon Aris...,NaN
17373,2017,Hostiles,American,Scott Cooper,Scott Cooper (director/screenplay); Donald E. ...,western,https://en.wikipedia.org/wiki/Hostiles_(film),"In 1892, settler Wesley Quaid and his family a...",NaN
17374,2017,All the Money in the World,American,Ridley Scott,Ridley Scott (director); David Scarpa (screenp...,"biography, crime, drama",https://en.wikipedia.org/wiki/All_the_Money_in...,"In 1973, 16-year-old John Paul Getty III (Paul...",NaN
17375,2017,Molly's Game,American,Aaron Sorkin,Aaron Sorkin (director/screenplay); Jessica Ch...,"biography, crime, drama",https://en.wikipedia.org/wiki/Molly%27s_Game,Molly Bloom is world-class mogul skier with Ol...,NaN
17376,2017,Phantom Thread,American,Paul Thomas Anderson,Paul Thomas Anderson (director/screenplay); Da...,drama,https://en.wikipedia.org/wiki/Phantom_Thread,"In 1954 London, renowned fashion designer Reyn...",NaN

In [31]:
filtered_wiki_df.columns = filtered_wiki_df.columns.str.replace(' ', '_').str.lower()
renamed_df=filtered_wiki_df.rename(columns={'title':'movie_title', 'origin/ethnicity':'country', 'release_year':'year'}
                                  ).replace({'country': 'American'}, {'country': 'USA'})
renamed_df

,year,movie_title,country,director,cast,genre,wiki_page,plot,unnamed:_8
0,1901,Kansas Saloon Smashers,USA,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Kansas_Saloon_Sm...,"A bartender is working at a saloon, serving dr...",NaN
1,1901,Love by the Light of the Moon,USA,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Love_by_the_Ligh...,"The moon, painted with a smiling face hangs ov...",NaN
2,1901,The Martyred Presidents,USA,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/The_Martyred_Pre...,"The film, just over a minute long, is composed...",NaN
3,1901,"Terrible Teddy, the Grizzly King",USA,Unknown,NaN,unknown,"https://en.wikipedia.org/wiki/Terrible_Teddy,_...",Lasting just 61 seconds and consisting of two ...,NaN
4,1902,Jack and the Beanstalk,USA,"George S. Fleming, Edwin S. Porter",NaN,unknown,https://en.wikipedia.org/wiki/Jack_and_the_Bea...,The earliest known adaptation of the classic f...,NaN
...,...,...,...,...,...,...,...,...,...
17372,2017,Crooked House,USA,Gilles Paquet-Brenner,Gilles Paquet-Brenner (director/screenplay); T...,"crime, drama, mystery",https://en.wikipedia.org/wiki/Crooked_House_(f...,The granddaughter of late business tycoon Aris...,NaN
17373,2017,Hostiles,USA,Scott Cooper,Scott Cooper (director/screenplay); Donald E. ...,western,https://en.wikipedia.org/wiki/Hostiles_(film),"In 1892, settler Wesley Quaid and his family a...",NaN
17374,2017,All the Money in the World,USA,Ridley Scott,Ridley Scott (director); David Scarpa (screenp...,"biography, crime, drama",https://en.wikipedia.org/wiki/All_the_Money_in...,"In 1973, 16-year-old John Paul Getty III (Paul...",NaN
17375,2017,Molly's Game,USA,Aaron Sorkin,Aaron Sorkin (director/screenplay); Jessica Ch...,"biography, crime, drama",https://en.wikipedia.org/wiki/Molly%27s_Game,Molly Bloom is world-class mogul skier with Ol...,NaN
17376,2017,Phantom Thread,USA,Paul Thomas Anderson,Paul Thomas Anderson (director/screenplay); Da...,drama,https://en.wikipedia.org/wiki/Phantom_Thread,"In 1954 London, renowned fashion designer Reyn...",NaN

In [32]:
renamed_wiki_df = renamed_df.loc[(renamed_df["genre"]!="unknown")]

In [33]:
duplicates = renamed_wiki_df[renamed_wiki_df.duplicated(['movie_title'])] 
duplicates

,year,movie_title,country,director,cast,genre,wiki_page,plot,unnamed:_8
55,1913,Dr. Jekyll and Mr. Hyde,USA,Herbert Brenon and Carl Laemmle,King Baggot,horror,https://en.wikipedia.org/wiki/Dr._Jekyll_and_M...,Dr. Henry Jekyll (King Baggot) sends a note to...,NaN
85,1914,Laughing Gas,USA,Charlie Chaplin,"Charlie Chaplin, Fritz Schade",comedy,https://en.wikipedia.org/wiki/Laughing_Gas_(19...,We are told Charlie is a dental assistant. He ...,NaN
240,1918,The Squaw Man,USA,Cecil B. DeMille,"Elliott Dexter, Ann Little",western,https://en.wikipedia.org/wiki/The_Squaw_Man_(1...,"As described in a film magazine,[3] Jim Wynneg...",NaN
286,1919,Nine-Tenths of the Law,USA,B. Reeves Eason,"Mitchell Lewis, Jimsy Maye",drama,https://en.wikipedia.org/wiki/Nine-Tenths_of_t...,"As described in a film magazine,[1] Jules Lene...",NaN
318,1920,Dr. Jekyll and Mr. Hyde,USA,John S. Robertson,John Barrymore,horror,https://en.wikipedia.org/wiki/Dr._Jekyll_and_M...,Henry Jekyll (John Barrymore) is a doctor of m...,NaN
...,...,...,...,...,...,...,...,...,...
17315,2017,Flatliners,USA,Niels Arden Oplev,Niels Arden Oplev (director); Ben Ripley (scre...,"horror, sci-fi, drama",https://en.wikipedia.org/wiki/Flatliners_(2017...,"A medical student, Courtney (Ellen Page), is o...",NaN
17318,2017,My Little Pony: The Movie,USA,Jayson Thiessen,"Jayson Thiessen (director); Meghan McCarthy, R...","animation, adventure, comedy, family, fantasy,...",https://en.wikipedia.org/wiki/My_Little_Pony:_...,The ponies of Equestria prepare for their firs...,NaN
17328,2017,Only the Brave,USA,Joseph Kosinski,"Joseph Kosinski (director); Ken Nolan, Eric Wa...","action, biography, drama",https://en.wikipedia.org/wiki/Only_the_Brave_(...,"Eric ""Supe"" Marsh, the superintendent of the P...",NaN
17336,2017,Jigsaw,USA,The Spierig Brothers,The Spierig Brothers (directors); Josh Stolber...,"crime, horror, mystery, thriller",https://en.wikipedia.org/wiki/Jigsaw_(2017_film),Criminal Edgar Munsen is pursued by the police...,NaN
17350,2017,The Star,USA,Timothy Reckart,Timothy Reckart (director); Tom Sheridan (scre...,"animation, adventure, comedy",https://en.wikipedia.org/wiki/The_Star_(2017_f...,"In ""9 months B.C."", Mary is visited by an ange...",NaN

In [34]:
unique_wiki_df=renamed_wiki_df.drop_duplicates(['movie_title'] , keep ='last') 
unique_wiki_df.shape

(16178, 9)

In [36]:
wiki_df_final=unique_wiki_df[["year", "movie_title", "country", "genre", "wiki_page"]].copy(
    ).reset_index(drop=True).dropna(how='all')
wiki_df_final.sample(5)

,year,movie_title,country,genre,wiki_page
1924,1937,Parnell,USA,"drama, biography",https://en.wikipedia.org/wiki/Parnell_(film)
1323,1933,Three-Cornered Moon,USA,comedy,https://en.wikipedia.org/wiki/Three-Cornered_Moon
7832,1970,Dirty Dingus Magee,USA,western,https://en.wikipedia.org/wiki/Dirty_Dingus_Magee
12338,1999,"Happy, Texas",USA,comedy,"https://en.wikipedia.org/wiki/Happy,_Texas_(film)"
4465,1949,Neptune's Daughter,USA,musical,https://en.wikipedia.org/wiki/Neptune%27s_Daug...

In [37]:
wiki_df_final['year'] = wiki_df_final['year'].apply(pd.to_numeric)

In [38]:
wiki_df_final = wiki_df_final[(wiki_df_final.year > 1999)]

In [39]:
wiki_df_final

,year,movie_title,country,genre,wiki_page
12450,2000,102 Dalmatians,USA,"comedy, family",https://en.wikipedia.org/wiki/102_Dalmatians
12451,2000,28 Days,USA,drama,https://en.wikipedia.org/wiki/28_Days_(film)
12452,2000,3 Strikes,USA,comedy,https://en.wikipedia.org/wiki/3_Strikes_(film)
12453,2000,The 6th Day,USA,science fiction,https://en.wikipedia.org/wiki/The_6th_Day
12454,2000,The Adventures of Rocky and Bullwinkle,USA,comedy,https://en.wikipedia.org/wiki/The_Adventures_o...
...,...,...,...,...,...
16173,2017,Crooked House,USA,"crime, drama, mystery",https://en.wikipedia.org/wiki/Crooked_House_(f...
16174,2017,Hostiles,USA,western,https://en.wikipedia.org/wiki/Hostiles_(film)
16175,2017,All the Money in the World,USA,"biography, crime, drama",https://en.wikipedia.org/wiki/All_the_Money_in...
16176,2017,Molly's Game,USA,"biography, crime, drama",https://en.wikipedia.org/wiki/Molly%27s_Game
16177,2017,Phantom Thread,USA,drama,https://en.wikipedia.org/wiki/Phantom_Thread

In [81]:
wiki_df_final.to_csv("../Output/wiki_clean.csv", index=False)

# Connect Local Database

In [41]:
rds_connection_string = "postgres:3411@localhost:5432/ETL_project_movies_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [72]:
engine.table_names()

['wiki_table', 'oscar_movies', 'oscar_wins']

# Load Dataframes into the Database

In [44]:
wiki_df_final.to_sql(name='wiki_table', con=engine, if_exists='append', index=False)

In [53]:
oscars_clean_df.to_sql(name='oscar_movies', con=engine, if_exists='append', index=False)

In [71]:
oscar_wins_df.to_sql(name='oscar_wins', con=engine, if_exists='append', index=False)

# Additional CSVs download

In [84]:
imdb_clean = pd.read_csv("../Output/IMBD_clean.csv")
imdb_clean.sample(5)

,movie_title,year,genre,duration,director,description,avg_vote,reviews_from_users,reviews_from_critics
10103,Returned,2015,Sci-Fi,90,Lamont Gant,"Benjamin Lathan's flight disappeared, twelve y...",2.7,8.0,1.0
8275,Blood Widow,2014,Horror,84,Jeremiah Buckhalt,Laurie and Hugh are a successful young couple ...,2.9,31.0,28.0
1967,Sons of Provo,2004,"Comedy, Music",93,Will Swenson,"Will, Kirby, and Danny are the hottest new sen...",5.9,20.0,4.0
6144,10 Years,2011,"Comedy, Drama, Romance",110,Jamie Linden,"The night of their high school reunion, a grou...",6.1,56.0,75.0
9023,The Night Is Young,2017,"Comedy, Romance",91,"Dave Hill, Matt Jones",This is the story of the night Matt and Dave m...,5.5,NaN,1.0

In [85]:
netflix_clean = pd.read_csv("../Output/Netflix_clean.csv")
netflix_clean.sample(5)

,movie_title,director,actors,release_year,rating,duration,listed_in,description
550,Chal Bhaag,Prakash Balwant Saini,"Deepak Dobriyal, Tarun Bajaj, Keeya Khanna, Va...",2014,TV-14,110 min,"Comedies, Dramas, International Movies",Three petty criminals find themselves in a pic...
265,Audrie & Daisy,"Bonni Cohen, Jon Shenk",NaN,2016,TV-MA,99 min,Documentaries,"In this wrenching documentary, two teens are s..."
3135,What Happened to Monday,Tommy Wirkola,"Noomi Rapace, Willem Dafoe, Glenn Close, Marwa...",2017,TV-MA,124 min,"Action & Adventure, Sci-Fi & Fantasy","In a future with a strict one-child policy, si..."
1067,HALO Legends,"Shinji Aramaki, Mamoru Oshii, Hideki Futamura,...","Andy McAvin, James Faulkner, Luci Christian, J...",2009,PG-13,117 min,"Action & Adventure, Anime Features, Sci-Fi & F...",This anthology features seven independent anim...
1421,Katti Batti,Nikhil Advani,"Imran Khan, Kangana Ranaut, Abhishek Saha, Mit...",2015,TV-14,132 min,"Comedies, Dramas, International Movies","After falling in love during college, architec..."

# Load additional Dataframes to Database

In [86]:
imdb_clean.to_sql(name='imdb_data', con=engine, if_exists='append', index=False)

In [87]:
netflix_clean.to_sql(name='netflix_data', con=engine, if_exists='append', index=False)