In [2]:
##Imports

import pandas as pd
from sqlalchemy import create_engine

In [3]:
##Store CSV into DataFrame

csv_file = "../Data/IMDb movies.csv"
IMBD_df = pd.read_csv(csv_file)
IMBD_df.sample(5)

C:\Users\jgrif\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
79810,tt6159520,Chasing the Blues,Chasing the Blues,2017,10/5/2018,Comedy,77,USA,English,Scott Smith,...,"Grant Rosenmeyer, Ronald L. Conner, Chelsea Ta...",Two rival record collectors attempt to con an ...,7.0,419,NaN,"$14,030","$14,030",49.0,3.0,3.0
23324,tt0093402,Leif,Leif,1987,6/26/1987,"Comedy, Musical",108,Sweden,Swedish,Claes Eriksson,...,"Anders Eriksson, Kerstin Granlund, Claes Eriks...",The weaponfactory in Rotum is selling weapons ...,6.3,653,NaN,NaN,NaN,NaN,4.0,1.0
14392,tt0065531,I senza nome,Le cercle rouge,1970,12/18/1970,"Crime, Drama, Thriller",140,"France, Italy",French,Jean-Pierre Melville,...,"Alain Delon, Bourvil, Gian Maria Volontè, Yves...","After leaving prison, master thief Corey cross...",8.0,21473,NaN,"$369,970","$408,916",91.0,76.0,78.0
27876,tt0109234,Morte apparente,In the Heat of Passion II: Unfaithful,1994,11/2/1994,"Thriller, Drama",88,USA,English,Catherine Cyran,...,"Barry Bostwick, Matt McCoy, Lesley-Anne Down, ...",When a wheelchair-bound wife dies from an appa...,5.2,213,NaN,NaN,NaN,NaN,3.0,NaN
78553,tt5738830,Red Room,Red Room,2017,2017,"Horror, Thriller",96,Ireland,"English, Portuguese",Stephen Gaffney,...,"Brian Fortune, Eddie Jackson, Fionna Hewitt-Tw...","Held hostage in an isolated house, three kidna...",3.4,171,EUR 10000,NaN,NaN,NaN,8.0,11.0

In [5]:
##Read Columns

for col in IMBD_df.columns: 
    print(col)

imdb_title_id
title
original_title
year
date_published
genre
duration
country
language
director
writer
production_company
actors
description
avg_vote
votes
budget
usa_gross_income
worlwide_gross_income
metascore
reviews_from_users
reviews_from_critics

In [10]:
##Drop all non-Movies and only capture U.S, and movies 2000-2017
#IMBD_df = IMBD_df[(IMBD_df.country == "USA") & (IMBD_df.year > 1999) & (IMBD_df.year < 2018)] 
# IMBD_df.sample(5)

IMBD_df[['year']] = IMBD_df[['year']].apply(pd.to_numeric) 
print(IMBD_df.dtypes) 

# df[['A', 'C']] = df[['A', 'C']].apply(pd.to_numeric) 
# print(df.dtypes)

ValueError: Unable to parse string "TV Movie 2019" at position 83917