In [1]:
##Imports
from sqlalchemy import create_engine
import pandas as pd
from sqlalchemy import create_engine

In [2]:
##Store CSV into DataFrame

csv_file = "../Data/Netflix_titles.csv"
netflix_df = pd.read_csv(csv_file)
netflix_df.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4940,s7127,Movie,Todo lo que sería Lucas Lauriente,"Raúl Campos, Jan Suter",Lucas Lauriente,Argentina,6-Apr-18,2018,TV-MA,78 min,Stand-Up Comedy,"In his stand-up set, Argentine comic Lucas Lau..."
7284,s6259,TV Show,The Cuba Libre Story,NaN,NaN,"France, Germany",8-Dec-16,2015,TV-14,1 Season,"Docuseries, International TV Shows",This documentary series recounts the tumultuou...
5603,s903,TV Show,"Big Dreams, Small Spaces",NaN,Monty Don,United Kingdom,"July 26, 2019",2017,TV-G,3 Seasons,"British TV Shows, International TV Shows, Real...",Writer and presenter Monty Don helps England's...
2459,s3509,Movie,Laatu,Manav Shah,"Gagan Kokri, Aditi Sharma, Karamjit Anmol, Sar...",India,2-May-19,2018,TV-PG,116 min,"Comedies, Dramas, International Movies",A man who hopes to bring light to his village ...
4160,s5989,Movie,Tarzan,"Chris Buck, Kevin Lima","Tony Goldwyn, Minnie Driver, Glenn Close, Bria...",United States,23-Jun-18,1999,G,89 min,Children & Family Movies,"After being shipwrecked off the African coast,..."

In [3]:
##Read Columns

for col in netflix_df.columns: 
    print(col)

show_id
type
title
director
cast
country
date_added
release_year
rating
duration
listed_in
description

In [4]:
##Drop all non-Movies and only capture U.S, and movies 2000-2017
netflix_df = netflix_df[(netflix_df.type == "Movie") & (netflix_df.release_year > 1999) & (netflix_df.release_year < 2018)] 
netflix_df.sample(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4016,s5768,Movie,Spookley the Square Pumpkin,Bernie Denk,"Sonja Ball, Craig Francis, Rick Jones, Michel ...",United States,1-Sep-19,2004,G,47 min,Children & Family Movies,"When a storm terrorizes his patch, a pumpkin c..."
2834,s4069,Movie,Michael Che Matters,Oz Rodriguez,Michael Che,United States,25-Nov-16,2016,TV-MA,61 min,Stand-Up Comedy,"""SNL"" star Michael Che takes on hot-button top..."
4177,s6011,Movie,Teen Patti,Leena Yadav,"Amitabh Bachchan, Madhavan, Ben Kingsley, Shra...",India,1-Mar-18,2010,TV-PG,137 min,"Dramas, International Movies, Thrillers",Luck brings together math expert Perci Trachte...
1459,s2080,Movie,Eyyvah Eyyvah 2,Hakan Algül,"Demet Akbağ, Ata Demirer, Özge Borak, Salih Ka...",Turkey,10-Mar-17,2011,TV-PG,106 min,"Comedies, International Movies, Romantic Movies","Hüseyin has found his father, and now has one ..."
3072,s4417,Movie,Natalia Valdebenito: Gritona,Natalia Valdebenito,Natalia Valdebenito,United States,10-Nov-17,2017,TV-MA,76 min,Stand-Up Comedy,Chile's Natalia Valdebenito hits Santiago's Te...
3080,s4425,Movie,National Treasure,Jon Turteltaub,"Nicolas Cage, Diane Kruger, Justin Bartha, Sea...",United States,1-Jun-18,2004,PG,131 min,"Action & Adventure, Children & Family Movies",Modern treasure hunters search for a chest of ...
3013,s4322,Movie,My Happy Family,"Nana Ekvtimishvili, Simon Gross","Ia Shugliashvili, Merab Ninidze, Berta Khapava...","Georgia, Germany, France",1-Dec-17,2017,TV-14,119 min,"Dramas, Independent Movies, International Movies",A middle-aged wife and mother of two shocks he...
3839,s5505,Movie,Set Off,Liu Jiang,"Wenpei Ju, Fan Wei, Liu Hua, Qianyuan Wang, Re...",China,1-Dec-18,2008,TV-MA,96 min,"Dramas, International Movies",When a restaurant owner in Cyprus returns to B...
2136,s3076,Movie,It Takes a Man and a Woman,Cathy Garcia-Molina,"John Lloyd Cruz, Sarah Geronimo, Rowell Santia...",Philippines,27-Feb-19,2013,TV-PG,127 min,"Comedies, International Movies, Romantic Movies","Laida and Miggy used to be in love, but now th..."
3897,s5580,Movie,Shorgul,"Jitendra Tiwari, Pranav Singh","Ashutosh Rana, Jimmy Shergill, Suha Gezen, San...",India,30-Oct-18,2016,TV-14,122 min,"Dramas, International Movies",A Hindu boy's feelings for a Muslim girl expos...

In [5]:
##Choose Columns, rename 

clean_netflix_df = netflix_df[['title', 'director', 'cast', 'release_year', 'rating', 'duration', 'listed_in', 'description']].copy()
clean_netflix_df = clean_netflix_df.rename(columns={'title': 'movie_title', 'cast': 'actors'})
clean_netflix_df = clean_netflix_df.drop_duplicates(subset='movie_title', keep='first')

clean_netflix_df=clean_netflix_df.drop_duplicates(['movie_title'] , keep ='first') 

clean_netflix_df = clean_netflix_df.reset_index(drop=True)

clean_netflix_df.to_csv("../Output/Netflix_clean.csv")

clean_netflix_df.head(5)

,movie_title,director,actors,release_year,rating,duration,listed_in,description
0,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
1,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
2,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
3,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
4,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",2008,TV-MA,143 min,"Horror Movies, International Movies, Thrillers",An architect and his wife move into a castle t...

In [6]:
#Connect to Local Database

rds_connection_string = "postgres:postgres@localhost:5432/ETL_project_movie_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [7]:
#Check for tables
engine.table_names()

['imbd_data', 'netflix_data']

In [8]:
### Use pandas to load csv converted DataFrame into database
clean_netflix_df.to_sql(name='netflix_data', con=engine, if_exists='append', index=False)

In [9]:
##Confirm data has been added by querying the netflix_data table
pd.read_sql_query('select * from netflix_data', con=engine).head()

,movie_title,year,director,actors,release_year,rating,duration,listed_in,description
0,7:19,None,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
1,23:59,None,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
2,9,None,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
3,21,None,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
4,1920,None,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",2008,TV-MA,143 min,"Horror Movies, International Movies, Thrillers",An architect and his wife move into a castle t...

In [10]:
#See how many movies by release year

netflix_by_year = clean_netflix_df["release_year"].value_counts()
netflix_by_year.head()

2017    744
2016    642
2015    382
2014    244
2013    202
Name: release_year, dtype: int64

In [11]:
#See how many movies by Rating

netflix_by_year = clean_netflix_df["rating"].value_counts()
netflix_by_year.head()

TV-MA    997
TV-14    779
R        462
TV-PG    298
PG-13    275
Name: rating, dtype: int64