In [4]:
##Imports

import pandas as pd
from sqlalchemy import create_engine

In [5]:
##Store CSV into DataFrame

csv_file = "../Output/oscar_wins_df.csv"
oscar_wins_df = pd.read_csv(csv_file)
oscar_wins_df.sample(5)

,year,movie_title,awards_wins,awards_nominations,oscar_best_picture_won,oscar_best_director_won,oscar_best_actor_won,oscar_best_actress_won,oscar_best_supporting_actor_won,oscar_best_supporting_actress_won,oscar_best_adascreen_won,oscar_best_oriscreen_won
661,2012,The Amazing Spider-Man,0,7,False,False,False,False,False,False,False,False
232,2004,Harry Potter and the Prisoner of Azkaban,3,17,False,False,False,False,False,False,False,False
995,2013,All Is Lost,2,6,False,False,False,False,False,False,False,False
360,2005,The Wedding Date,0,0,False,False,False,False,False,False,False,False
412,2005,A History of Violence,8,33,False,False,False,False,False,False,False,False

In [6]:
#Connect to Local Database

rds_connection_string = "postgres:postgres@localhost:5432/ETL_project_movie_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [7]:
#Check for tables
engine.table_names()

['imbd_data', 'netflix_data', 'oscar_movies', 'wiki_table']

In [8]:
### Use pandas to load csv converted DataFrame into database
oscar_wins_df.to_sql(name='oscar_wins', con=engine, if_exists='append', index=False)

In [9]:
##Confirm data has been added by querying the netflix_data table
pd.read_sql_query('select * from oscar_wins', con=engine).head()

,year,movie_title,awards_wins,awards_nominations,oscar_best_picture_won,oscar_best_director_won,oscar_best_actor_won,oscar_best_actress_won,oscar_best_supporting_actor_won,oscar_best_supporting_actress_won,oscar_best_adascreen_won,oscar_best_oriscreen_won
0,2001,Kate & Leopold,1,4,False,False,False,False,False,False,False,False
1,2000,Chicken Run,5,11,False,False,False,False,False,False,False,False
2,2005,Fantastic Four,0,0,False,False,False,False,False,False,False,False
3,2002,Frida,2,12,False,False,False,False,False,False,False,False
4,2001,The Lord of the Rings: The Fellowship of the Ring,26,67,False,False,False,False,False,False,False,False

In [10]:
##Store CSV into DataFrame

oscar_clean_file = "../Output/oscars_clean_df.csv"
oscar_clean_df = pd.read_csv(oscar_clean_file)
oscar_clean_df.sample(5)

,year,movie_title,certificate,duration,genre,rate,metascore,votes,gross,user_reviews,critic_reviews,cartoon,number_of_genres
461,2007,August Rush,PG,114,Drama|Music,7.5,38,89560,31660000,366,146,False,2
262,2003,The Cooler,R,101,Crime|Drama|Fantasy,7.0,69,29123,8240000,216,136,False,3
16,2001,Training Day,R,122,Crime|Drama|Thriller,7.7,69,316040,76260000,638,109,False,3
466,2007,P.S. I Love You,PG-13,126,Drama|Romance,7.1,39,173521,53680000,246,130,False,2
123,2001,Harry Potter and the Sorcerer's Stone,PG,152,Adventure|Family|Fantasy,7.5,64,469660,317560000,1579,265,False,3

In [11]:
#Check for tables
engine.table_names()

['imbd_data', 'netflix_data', 'oscar_movies', 'wiki_table', 'oscar_wins']

In [12]:
### Use pandas to load csv converted DataFrame into database
oscar_clean_df.to_sql(name='oscar_movies', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "oscar_movies_pkey"
DETAIL:  Key (movie_title)=(Kate & Leopold) already exists.

[SQL: INSERT INTO oscar_movies (year, movie_title, certificate, duration, genre, rate, metascore, votes, gross, user_reviews, critic_reviews, cartoon, number_of_genres) VALUES (%(year)s, %(movie_title)s, %(certificate)s, %(duration)s, %(genre)s, %(rate)s, %(metascore)s, %(votes)s, %(gross)s, %(user_reviews)s, %(critic_reviews)s, %(cartoon)s, %(number_of_genres)s)]
[parameters: ({'year': 2001, 'movie_title': 'Kate & Leopold', 'certificate': 'PG-13', 'duration': 118, 'genre': 'Comedy|Fantasy|Romance', 'rate': 6.4000001, 'metascore': 44, 'votes': 66660, 'gross': 47100000, 'user_reviews': 318, 'critic_reviews': 125, 'cartoon': False, 'number_of_genres': 3}, {'year': 2000, 'movie_title': 'Chicken Run', 'certificate': 'G', 'duration': 84, 'genre': 'Animation|Adventure|Comedy', 'rate': 7.0, 'metascore': 88, 'votes': 144475, 'gross': 106790000, 'user_reviews': 361, 'critic_reviews': 186, 'cartoon': True, 'number_of_genres': 3}, {'year': 2005, 'movie_title': 'Fantastic Four', 'certificate': 'PG-13', 'duration': 106, 'genre': 'Action|Adventure|Family', 'rate': 5.69999981, 'metascore': 40, 'votes': 273203, 'gross': 154700000, 'user_reviews': 1008, 'critic_reviews': 278, 'cartoon': False, 'number_of_genres': 3}, {'year': 2002, 'movie_title': 'Frida', 'certificate': 'R', 'duration': 123, 'genre': 'Biography|Drama|Romance', 'rate': 7.400000099999999, 'metascore': 61, 'votes': 63852, 'gross': 25780000, 'user_reviews': 272, 'critic_reviews': 126, 'cartoon': False, 'number_of_genres': 3}, {'year': 2001, 'movie_title': 'The Lord of the Rings: The Fellowship of the Ring', 'certificate': 'PG-13', 'duration': 178, 'genre': 'Adventure|Drama|Fantasy', 'rate': 8.80000019, 'metascore': 92, 'votes': 1286275, 'gross': 313840000, 'user_reviews': 5078, 'critic_reviews': 296, 'cartoon': False, 'number_of_genres': 3}, {'year': 2000, 'movie_title': 'Mission: Impossible II', 'certificate': 'PG-13', 'duration': 123, 'genre': 'Action|Adventure|Thriller', 'rate': 6.0999999, 'metascore': 59, 'votes': 249988, 'gross': 215400000, 'user_reviews': 1431, 'critic_reviews': 234, 'cartoon': False, 'number_of_genres': 3}, {'year': 2002, 'movie_title': 'Resident Evil', 'certificate': 'R', 'duration': 100, 'genre': 'Action|Horror|Sci-Fi', 'rate': 6.69999981, 'metascore': 33, 'votes': 204545, 'gross': 39530000, 'user_reviews': 1145, 'critic_reviews': 225, 'cartoon': False, 'number_of_genres': 3}, {'year': 2000, 'movie_title': 'X-Men', 'certificate': 'PG-13', 'duration': 104, 'genre': 'Action|Adventure|Sci-Fi', 'rate': 7.400000099999999, 'metascore': 64, 'votes': 468351, 'gross': 157300000, 'user_reviews': 1406, 'critic_reviews': 289, 'cartoon': False, 'number_of_genres': 3}  ... displaying 10 of 1182 total bound parameter sets ...  {'year': 2017, 'movie_title': 'Roman J. Israel, Esq.', 'certificate': 'PG-13', 'duration': 122, 'genre': 'Crime|Drama', 'rate': 6.30000019, 'metascore': 58, 'votes': 3205, 'gross': 11940000, 'user_reviews': 55, 'critic_reviews': 86, 'cartoon': False, 'number_of_genres': 2}, {'year': 2017, 'movie_title': 'The Post', 'certificate': 'PG-13', 'duration': 116, 'genre': 'Biography|Drama|History', 'rate': 7.400000099999999, 'metascore': 83, 'votes': 21292, 'gross': 58790000, 'user_reviews': 178, 'critic_reviews': 291, 'cartoon': False, 'number_of_genres': 3})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [13]:
##Confirm data has been added by querying the netflix_data table
pd.read_sql_query('select * from oscar_movies', con=engine).head()

,year,movie_title,certificate,duration,genre,rate,metascore,votes,gross,user_reviews,critic_reviews,cartoon,number_of_genres
0,2001,Kate & Leopold,PG-13,118,Comedy|Fantasy|Romance,6.4000001,44,66660,47100000,318,125,False,3
1,2000,Chicken Run,G,84,Animation|Adventure|Comedy,7.0,88,144475,106790000,361,186,True,3
2,2005,Fantastic Four,PG-13,106,Action|Adventure|Family,5.69999981,40,273203,154700000,1008,278,False,3
3,2002,Frida,R,123,Biography|Drama|Romance,7.400000099999999,61,63852,25780000,272,126,False,3
4,2001,The Lord of the Rings: The Fellowship of the Ring,PG-13,178,Adventure|Drama|Fantasy,8.80000019,92,1286275,313840000,5078,296,False,3

In [14]:
##Store CSV into DataFrame

wiki_clean_file = "../Output/wiki_clean.csv"
wiki_clean_df = pd.read_csv(wiki_clean_file)
wiki_clean_df.sample(5)

,year,movie_title,country,genre,wiki_page
2854,2013,C.O.G.,USA,drama,https://en.wikipedia.org/wiki/C.O.G.
1310,2006,Fay Grim,USA,action,https://en.wikipedia.org/wiki/Fay_Grim
1224,2006,Babel,USA,drama,https://en.wikipedia.org/wiki/Babel_(film)
706,2003,Love Don't Cost a Thing,USA,romantic comedy,https://en.wikipedia.org/wiki/Love_Don%27t_Cos...
3253,2014,The Two Faces of January,USA,thriller,https://en.wikipedia.org/wiki/The_Two_Faces_of...

In [15]:
#Check for tables
engine.table_names()

['imbd_data', 'netflix_data', 'oscar_movies', 'wiki_table', 'oscar_wins']

In [16]:
### Use pandas to load csv converted DataFrame into database
wiki_clean_df.to_sql(name='wiki_table', con=engine, if_exists='append', index=False)

In [17]:
##Confirm data has been added by querying the netflix_data table
pd.read_sql_query('select * from wiki_table', con=engine).head()

,year,movie_title,country,genre,wiki_page
0,2000,102 Dalmatians,USA,"comedy, family",https://en.wikipedia.org/wiki/102_Dalmatians
1,2000,28 Days,USA,drama,https://en.wikipedia.org/wiki/28_Days_(film)
2,2000,3 Strikes,USA,comedy,https://en.wikipedia.org/wiki/3_Strikes_(film)
3,2000,The 6th Day,USA,science fiction,https://en.wikipedia.org/wiki/The_6th_Day
4,2000,The Adventures of Rocky and Bullwinkle,USA,comedy,https://en.wikipedia.org/wiki/The_Adventures_o...