In [2]:
##Imports

import pandas as pd
from sqlalchemy import create_engine

In [3]:
##Store CSV into DataFrame

csv_file = "../Output/oscar_wins_df.csv"
oscar_wins_df = pd.read_csv(csv_file)
oscar_wins_df.sample(5)

,Unnamed: 0,year,movie_title,awards_wins,awards_nominations,oscar_best_picture_won,oscar_best_director_won,oscar_best_actor_won,oscar_best_actress_won,oscar_best_supporting_actor_won,oscar_best_supporting_actress_won,oscar_best_adascreen_won,oscar_best_oriscreen_won
223,223,2003,The Core,0,0,False,False,False,False,False,False,False,False
504,505,2006,The Hills Have Eyes,0,0,False,False,False,False,False,False,False,False
190,190,2002,Mr. Deeds,0,0,False,False,False,False,False,False,False,False
725,726,2013,Lone Survivor,3,4,False,False,False,False,False,False,False,False
1112,1113,2015,Sicario,1,32,False,False,False,False,False,False,False,False

In [7]:
oscar_wins_df.drop('Unnamed: 0', axis=1, inplace=True)
oscar_wins_df.sample(5)

,year,movie_title,awards_wins,awards_nominations,oscar_best_picture_won,oscar_best_director_won,oscar_best_actor_won,oscar_best_actress_won,oscar_best_supporting_actor_won,oscar_best_supporting_actress_won,oscar_best_adascreen_won,oscar_best_oriscreen_won
185,2002,The Scorpion King,0,0,False,False,False,False,False,False,False,False
1069,2013,Locke,1,2,False,False,False,False,False,False,False,False
783,2012,21 Jump Street,0,3,False,False,False,False,False,False,False,False
175,2002,Adaptation.,14,45,False,False,False,False,True,False,False,False
821,2009,Guy and Madeline on a Park Bench,0,0,False,False,False,False,False,False,False,False

In [8]:
#Connect to Local Database

rds_connection_string = "postgres:postgres@localhost:5432/ETL_project_movie_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [9]:
#Check for tables
engine.table_names()

['imbd_data', 'netflix_data', 'oscar_wins']

In [10]:
### Use pandas to load csv converted DataFrame into database
oscar_wins_df.to_sql(name='oscar_wins', con=engine, if_exists='append', index=False)

In [11]:
##Confirm data has been added by querying the netflix_data table
pd.read_sql_query('select * from oscar_wins', con=engine).head()

,year,movie_title,awards_wins,awards_nominations,oscar_best_picture_won,oscar_best_director_won,oscar_best_actor_won,oscar_best_actress_won,oscar_best_supporting_actor_won,oscar_best_supporting_actress_won,oscar_best_adascreen_won,oscar_best_oriscreen_won
0,2001,Kate & Leopold,1,4,False,False,False,False,False,False,False,False
1,2000,Chicken Run,5,11,False,False,False,False,False,False,False,False
2,2005,Fantastic Four,0,0,False,False,False,False,False,False,False,False
3,2002,Frida,2,12,False,False,False,False,False,False,False,False
4,2001,The Lord of the Rings: The Fellowship of the Ring,26,67,False,False,False,False,False,False,False,False

In [12]:
##Store CSV into DataFrame

oscar_clean_file = "../Output/oscars_clean_df.csv"
oscar_clean_df = pd.read_csv(oscar_clean_file)
oscar_clean_df.sample(5)

,Unnamed: 0,year,movie_title,certificate,duration,genre,rate,metascore,votes,gross,user_reviews,critic_reviews,cartoon,number_of_genres
125,125,2001,The Affair of the Necklace,R,118,Drama|History|Romance,6.1,42,4512,430000,61,48,False,3
410,410,2010,Tangled,PG,100,Animation|Adventure|Comedy,7.8,71,307108,200810000,391,325,True,3
437,437,2005,Mrs Henderson Presents,R,103,Comedy|Drama|Music,7.1,71,13756,11030000,180,137,False,3
1036,1037,2015,The Intern,PG-13,121,Comedy|Drama,7.1,51,151093,75270000,334,246,False,2
934,935,2010,A Cat in Paris,PG,70,Animation|Crime|Family,7.0,63,8759,290000,29,89,True,3

In [13]:
oscar_clean_df.drop('Unnamed: 0', axis=1, inplace=True)
oscar_clean_df.sample(5)

,year,movie_title,certificate,duration,genre,rate,metascore,votes,gross,user_reviews,critic_reviews,cartoon,number_of_genres
251,2003,21 Grams,R,124,Drama,7.7,70,194344,16250000,562,192,False,1
411,2007,Bridge to Terabithia,PG,96,Adventure|Drama|Family,7.2,74,114494,82230000,524,180,False,3
179,2001,A Beautiful Mind,PG-13,135,Biography|Drama,8.2,72,640458,170710000,1181,204,False,2
867,2013,The Grandmaster,PG-13,130,Action|Biography|Drama,6.5,73,25489,6590000,111,274,False,3
457,2007,Hot Fuzz,R,116,Action|Comedy|Mystery,7.9,81,364391,23620000,694,284,False,3

In [14]:
#Check for tables
engine.table_names()

['imbd_data', 'netflix_data', 'oscar_wins', 'oscar_movies']

In [15]:
### Use pandas to load csv converted DataFrame into database
oscar_clean_df.to_sql(name='oscar_movies', con=engine, if_exists='append', index=False)

In [16]:
##Confirm data has been added by querying the netflix_data table
pd.read_sql_query('select * from oscar_movies', con=engine).head()

,year,movie_title,certificate,duration,genre,rate,metascore,votes,gross,user_reviews,critic_reviews,cartoon,number_of_genres
0,2001,Kate & Leopold,PG-13,118,Comedy|Fantasy|Romance,6.4000001,44,66660,47100000,318,125,False,3
1,2000,Chicken Run,G,84,Animation|Adventure|Comedy,7.0,88,144475,106790000,361,186,True,3
2,2005,Fantastic Four,PG-13,106,Action|Adventure|Family,5.69999981,40,273203,154700000,1008,278,False,3
3,2002,Frida,R,123,Biography|Drama|Romance,7.400000099999999,61,63852,25780000,272,126,False,3
4,2001,The Lord of the Rings: The Fellowship of the Ring,PG-13,178,Adventure|Drama|Fantasy,8.80000019,92,1286275,313840000,5078,296,False,3

In [3]:
##Store CSV into DataFrame

wiki_clean_file = "../Output/wiki_clean.csv"
wiki_clean_df = pd.read_csv(wiki_clean_file)
wiki_clean_df.sample(5)

,year,movie_title,country,genre,wiki_page
3384,2015,Love & Mercy,USA,biographical drama,https://en.wikipedia.org/wiki/Love_%26_Mercy_(...
2943,2013,Hours,USA,drama,https://en.wikipedia.org/wiki/Hours_(2013_film)
1694,2007,No Reservations,USA,romantic comedy,https://en.wikipedia.org/wiki/No_Reservations_...
3530,2017,The Space Between Us,USA,"sci-fi, adventure, romance",https://en.wikipedia.org/wiki/The_Space_Betwee...
1377,2006,Larry the Cable Guy: Health Inspector,USA,comedy,https://en.wikipedia.org/wiki/Larry_the_Cable_...